.StatusVideoBox{
    background-color: white;
    width: 100%;

    display: flex;
    flex-direction: column;


    .OthersStatus{
      background-color: white;
      margin-block: 15px;

      display: flex;

      .OthersStatusPhotoBox{
  
        height: 100%;
        width: 15%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-inline: 10px;


        .OthersStatusPhoto{


          height: 70px;
          width: 70px;
          background-color: black;
          border-radius: 50%;
          border: 2px solid blue;

          display: flex;
          justify-content: center;
          align-items: center;

        }

        .OthersStatusPhoto img{

          height: 100%;
          width: 100%;
          border-radius: 50%;
    

        }


      }

      .OthersStatusMessagesInfo{
          width: 85%;
          display: flex;
          flex-direction: column;
          justify-content: center;

          .OthersMyStatusName{
      
            height: 50%;
            width: 100%;

            display: flex;
            align-items: center;

            font-size: x-large;



          }

          .OthersStatusClick{

            height: 40%;
            width: 100%;
            display: flex;
            align-items: center;
            font-size: large;



          }




      }

    }


    .LineBox{



      height: 1px;
      width: 100%;
      display: flex;

      .Empty
      {
          width: 15%;
         
          height: 1px;
      }
      .Line{

          width: 85%;
          background-color: rgba(0, 0, 0, 0.263);
          border-radius: 50%;
          height: 1px;

      }

    }




  }

  .StatusIndicators {
  position: absolute;
  display: flex;
  gap: 4px;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}

.StatusDot {
  width: 2px;
  height: 3px;
  border-radius: 50%;
  background-color: red;
  
  opacity: 0.5;
}

.OthersStatusPhotoBox {
  position: relative; /* Required for absolute positioning of indicators */
}


.OthersStatusPhotoRing {
  height: 80px;
  width: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3px;
  background-color: white; /* for center hole effect */
}

.OthersStatusPhoto {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  overflow: hidden;
  background-color: white;
}

.OthersStatusPhoto img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
  object-fit: cover;
}
